<%- include('../partials/head', { site, page }) %>

<section class="section container center">
  <h1>Thank you, <%= first %>!</h1>
  <p class="lede">We received your request. We will reach out soon with next steps.</p>
  <div style="margin-top: 18px;">
    <a class="btn" href="/">Back to Home</a>
    <a class="btn btn-primary" href="/features">Explore Features</a>
  </div>
</section>

<%- include('../partials/footer', { site }) %>
